<h3><i class="fas fa-book-reader"></i> StoryBook</h3>
<div class="section">
    <h6 class="lead">Create public and private stories from your life</h6>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="flexing">
        <img src="google-icon.svg" alt="" class="svg-icon">
        <div class="login-google">
            <p class="login-line">Login with Google</p>
        </div>
    </a>
</div>